body {
  background-color: rgb(39, 89, 55);
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
  box-sizing: border-box;
  text-align: center;
}
.sign {
  width: 30%;
  margin-top: 30px;
  display: inline-block;
}
.sing__body {
  width: 100%;
  background-color: whitesmoke;
  border-radius: 5px;
  text-align: center;
  padding: 20px;
}
.sign__body--instraction {
  margin-bottom: 30px;
}
h1 {
  font-weight: 600;
  font-size: 2.2rem;
}
label {
  display: block;
  text-align: left;
  line-height: 1.7;
  font-size: 14px;
}
input {
  margin-bottom: 20px;
  border: 1px solid #00000030;
  border-radius: 5px;
  height: 35px;
  padding: 0;
  width: 100%;
}
button {
  margin-bottom: 30px;
  background-color: #ff4400bb;
  width: 80%;
  padding: 12px 0;
  text-align: center;
  border-radius: 5px;
  margin: 0 auto;
  border: none;
  color: white;
}

a {
  font-weight: 400;
  color: #ff4400bb;
  text-decoration: none;
}
.sign__foot {
  color: white;
  font-weight: 400;
  text-align: left;
}
.sign__body--terms {
  font-weight: 400;
  font-size: 14px;
}
.sign__body--instraction {
  font-size: 18px;
}
