body {
  background-color: aqua;
}
@media (min-width: 360px) {
  body {
    background-color: rgb(225, 255, 0);
  }
}
@media (min-width: 576px) {
  body {
    background-color: rgb(9, 255, 0);
  }
}
@media (min-width: 768px) {
  body {
    background-color: rgb(8, 0, 255);
  }
}
@media (min-width: 992px) {
  body {
    background-color: rgb(255, 0, 230);
  }
}
@media (min-width: 1200px) {
  body {
    background-color: rgb(255, 60, 0);
  }
}
